html, body {
    margin: 0px;
    height: 100%;
} 

* {
    /* border: 1px solid blueviolet; */
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: rgb(165, 203, 203);
}

.calculator {
    width: 400px;
    height: 400px;
    border: 1px solid blueviolet;
    flex: 0 1 auto;
    display: flex;
    flex-direction: column;
    padding: 10px;
    font-size: 20px;
    background-color: rgb(110, 177, 152);
}

.display {
    min-height: 80px;
    margin-bottom: 10px;
    border: 1px solid blueviolet;
    display: flex;
    justify-content: end;
    align-items: end;
    padding: 10px;
    font-size: 40px;
}

.clear {
    min-height: 50px;
    margin-bottom: 10px;
    display: flex;
    gap: 5px;
}

.numbers {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.numberRow {
    display: flex;
    flex: 1;
    gap: 5px;
}

div.clearButton, div.deleteButton{
    background-color: rgb(110, 180, 215);
}

.buttonBox {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid blueviolet;
    background-color: rgb(165, 174, 100);
    border-radius: 12px;
}


.operator {
    background-color: rgb(126, 82, 82);
}
